<%- include('includes/head.ejs') %>  
</head>
<body>
<%- include('includes/navigation.ejs') %>

    <div class="hero-container">
        <h1 class="hero-text">Kigenni Affiliate Program</h1>
        <div class="hero-paragraph">
            <p>
                Welcome to KAP (Kigenni Affiliate Program), where there is no KAP on your earnings. 
                KAP helps individuals, content creators, publishers and bloggers monetize their traffic. 
                With a number of products available on Kigenni, affiliates use easy link-building tools to direct their audience to their recommendations, 
                and earn from qualifying purchases using their affiliate codes.
            </p>
        </div>
        <a href="/signup">become an affiliate</a>
    </div>
    
    <section class="section-works">
        <div class="section-works_text">
            <h1 class="hero-text section-text">how it works ?</h1>
        </div>


        <div class="section-works_box">
            <div class="section-works_box-containers">
                <i class="material-icons">account_box</i>
                <h3>Sign Up</h3>
                <p>Join other individuals, creators, publishers and bloggers who are earning with the Kigenni Affiliate Program.
                </p>
            </div>
            <div class="section-works_box-containers">
                <i class="material-icons">public</i>
                <h3>Recommend</h3>
                <p>Share Kigenni products with your audience. We have unique codes for every affiliate which provides a discount for every purchase with those codes.
                </p>
            </div>
            <div class="section-works_box-containers">
                <i class="material-icons">payments</i>
                <h3>Earn</h3>
                <p>Earn up to 20% in affiliate fees from qualifying purchases and programs. Our rates are the highest in the industry. 
                </p>
            </div>
        </div>
    </section>

    <section class="section-social">
        <div class="section-works_text">
            <h1 class="hero-text section-social-text">spread the word</h1>
        </div>

        <div class="btn">
            <a href="/signup" class="btn">become an affiliate</a>
        </div>

        <div class="section-social_box">
            <div class="section-social_box-containers">
                <i class="fab fa-facebook-square"></i>
            </div>
            <div class="section-social_box-containers">
                <i class="fab fa-instagram-square"></i>
            </div>
            <div class="section-social_box-containers">
                <i class="fab fa-twitter-square"></i>
            </div>
<!--             <div class="section-social_box-containers">
                <i class="fab fa-whatsapp-square"></i>
            </div>
            <div class="section-social_box-containers">
                <i class="fab fa-linkedin"></i>
            </div> -->
        </div>
    </section>
</body>
</html>