<%- include('includes/head.ejs') %>  
</head>
<body>
<%- include('includes/navigation.ejs') %>
    <section class="section-works">
        <div class="section-works_text">
            <h1 class="hero-text section-text">how it works ?</h1>
        </div>


        <div class="section-works_box">
            <div class="section-works_box-containers">
                <i class="material-icons">account_box</i>
                <h3>rigister</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam perferendis, 
                    a fuga eum commodi nulla fugit. Quos vel, enim eos, nostrum quae repellendus fuga 
                </p>
            </div>
            <div class="section-works_box-containers">
                <i class="material-icons">public</i>
                <h3>advertise</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam perferendis, 
                    a fuga eum commodi nulla fugit. Quos vel, enim eos, nostrum quae repellendus fuga 
                </p>
            </div>
            <div class="section-works_box-containers">
                <i class="material-icons">payments</i>
                <h3>get paid</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam perferendis, 
                    a fuga eum commodi nulla fugit. Quos vel, enim eos, nostrum quae repellendus fuga 
                </p>
            </div>
        </div>
    </section>

    <section class="section-social">
        <div class="section-works_text">
            <h1 class="hero-text section-social-text">spread the word</h1>
        </div>

        <div class="btn">
            <a href="/signup" class="btn">become an affiliate</a>
        </div>

        <div class="section-social_box">
            <div class="section-social_box-containers">
                <i class="fab fa-facebook-square"></i>
            </div>
            <div class="section-social_box-containers">
                <i class="fab fa-instagram-square"></i>
            </div>
            <div class="section-social_box-containers">
                <i class="fab fa-twitter-square"></i>
            </div>
            <div class="section-social_box-containers">
                <i class="fab fa-whatsapp-square"></i>
            </div>
            <div class="section-social_box-containers">
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </section>
</body>
</html>