<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>


    <link rel="stylesheet" href="/css/dashboard.css">
    
</head>
<body>
    <!-- THE STYLES FOR THE HEADER IS IN AFFILIATE.CSS -->
<!--     <header class="header">
        <nav class="navbar">
            <div class="logo-container">
                <p class="logo-paragraph" href="#" >KIGENNI </p>
            </div>

            <div class="auth-container">
                
                <ul>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header> -->
    <%- include('includes/navigation.ejs') %>
    <section style="margin-bottom: 3rem;" class="dashboard">
        <div class="greatings">
            <p>Hello, <span><%= firstName %>!</span></p>
        </div>

        <div class="aff-code">
            <h2>your kigenni affiliate code</h2><span style="font-size: 40px; border: 2px solid #2f70a5; padding: 10px; border-radius: 5px;">ID: <%= referralCode %></span>
        </div>
    </section> 


<!--     <table>
        <tr>
            <th>Product</th>
            <th>Number of code used </th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>Product</td>
            <td>Number of code used </td>
            <td>Amount</td>
        </tr>
    </table> -->

<!--     <table>
        <tr>
          <th scope="col">Flor</th>
          <th scope="col">Ella</th>
          <th scope="col">Juan</th>
        </tr>
        <tr>
          <td>Poodle</td>
          <td>Streetdog</td>
          <td>Cocker Spaniel</td>
        </tr>
        <tr>
          <td>9</td>
          <td>10</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Mother-in-law</td>
          <td>Me</td>
          <td>Me</td>
        </tr>
      </table> -->

      <table class="blueTable">
        <thead>
        <tr>
        <th>Product</th>
        <th>Number of code use per product</th>
        <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>CV</td>
        <td>0</td>
        <td>&#x20A6; </td>
        </tr>
        <tr>
        <td>Cover Letter</td>
        <td>0</td>
        <td>&#x20A6; </td>
        </tr>
        <tr>
        <td>CV + Cover Letter</td>
        <td>0</td>
        <td>&#x20A6; </td>
        </tr>
        <tr>
        <td>LinkedIn Optimization</td>
        <td>0</td>
        <td>&#x20A6; </td>
        </tr>
        <tr>
        <td>Triple Combo: CV + Cover Letter + LinkedIn</td>
        <td>0</td>
        <td>&#x20A6; </td>
        </tr>
        </tbody>
    </table>


    <section class="dashboard-1">

        <div class="dashboard-box">




<!--             <i class="fas fa-chart-line "></i>
            <span  class="number">0</span>
           <h4>daily report</h4>
        </div> -->
<!--         <div class="dashboard-box">
            <i class="fas fa-money-bill"></i>
            <span class="number">&#x20A6; 0</span>
            <h4>conversion</h4>
        </div> -->
    </section>


    <table class="blueTable">
        <thead>
        <tr>
        <th>Name</th>
        <th>Product</th>
        <th>Payment</th>
        <th>Email</th>
        <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>John Deo</td>
        <td>LinkedIn Optimization</td>
        <td>Pending</td>
        <td>bb@gmail.com</td>
        <td>08100000000</td>
        </tr>
        <!-- <tr>
        <td>cell1_2</td>
        <td>cell2_2</td>
        <td>cell3_2</td>
        <td>cell4_2</td>
        <td>cell5_2</td>
        </tr>
        <tr>
        <td>cell1_3</td>
        <td>cell2_3</td>
        <td>cell3_3</td>
        <td>cell4_3</td>
        <td>cell5_3</td>
        </tr>
        <tr>
        <td>cell1_4</td>
        <td>cell2_4</td>
        <td>cell3_4</td>
        <td>cell4_4</td>
        <td>cell5_4</td>
        </tr>
        <tr>
        <td>cell1_5</td>
        <td>cell2_5</td>
        <td>cell3_5</td>
        <td>cell4_5</td>
        <td>cell5_5</td>
        </tr> -->
        </tbody>
        </table>

    <section class="request-pay">
        <a class="btn-pay" href="#">Request Payment</a>
    </section>
</body>
</html> 