<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <!--   <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="../css/affiliate.css">
    <link rel="stylesheet" href="../css/login.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo-container">
                <p class="logo-paragraph" href="./views/affiliate.html" >KIGENNI </p>
            </div>

            <div class="auth-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section-form">
        <h2>kigenni</h2>
        <div class="border">
            <p style="margin-bottom: 20px; font-weight: 500; text-transform: uppercase;">Sign-In</p>
            <form action="/login" method="POST" autocomplete="on">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
    
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
    
                <p>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" >Login</button>
                </p>
            </form>
            <p class="haves border-paragraph">Don't have an account?<span><a href="/signup">Register</a></span></p>
            <div class="haves">
                <a href="/reset">Reset Password</a></span></p>
            </div>
        </div>
    </section>
</body>
</html>