<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="../css/affiliate.css">
    <link rel="stylesheet" href="../css/login.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo-container">
                <p class="logo-paragraph" href="./views/affiliate.html" >KIGENNI </p>
            </div>

            <div class="auth-container">
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section-form">
        <h2>Update New Password</h2>
        <form action="/new-password" method="POST" autocomplete="on">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>

            <p>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" >Upadate Password</button>
            </p>
        </form>
    </section>
</body>
</html>