<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/affiliate.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo-container">
                <p class="logo-paragraph" href="./views/affiliate.html" >KIGENNI </p>
            </div>

            <div class="auth-container">
                <ul>
                    <li><a href="../views/login.html">Login</a></li>
                    <li><a href="../views/register.html">register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section-form">
        <h2>Register to the kegenni Affiliate</h2>
        <form action="#" method="post" autocomplete="on">
            <label>Name</label>
            <input type="text" name="text" id="text" required>
            
            <label>Email</label>
            <input type="email" name="email" id="email" required>
            
            <label>Password</label>
            <input type="password" name="password" id="password" required>
            
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required>

            <p>
                <button>Register</button>
            </p>
        </form>
        <p class="haves">Already have an account?<span><a href="../views/login.html">Sign In</a></span></p>
    </section>
</body>
</html>