<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><!-- 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="../css/affiliate.css">
    <link rel="stylesheet" href="../css/login.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo-container">
                <p class="logo-paragraph" href="./views/affiliate.html" >KIGENNI </p>
            </div>

            <div class="auth-container">
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section-form">
        <h2>Reset Password</h2>
        <form action="/reset" method="POST" autocomplete="on">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <p>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" >Reset Password</button>
            </p>
        </form>
        <p class="haves">Don't have an account?<span><a href="/signup">Register</a></span></p>
    </section>
</body>
</html>