.dashboard {
    display: flex;
    flex-direction: column;
}

.greatings {
    font-size: 25px;
    margin: 4rem;
}

.aff-code {
    margin: 0 13rem;
    display: flex;
    flex-direction: column;
}

.aff-code h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.aff-code span {
    margin: 0 auto;
    font-size: 25px;
}

.dashboard-1 {
    display: flex;
    margin: 5rem;
}

.dashboard-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.dashboard-box i {
    font-size: 100px;
    text-align: center;
    margin-bottom: 5px;
    color: #2f70a5;
    text-transform: uppercase;
}

.number {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    text-transform: uppercase;
}

.dashboard-box h4 {
    font-size: 20px;
    margin-top: 18px;
    text-align: center;

    text-align: center;
}

.request-pay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.btn-pay {
    text-decoration: none;
    color: white;
    margin: 2rem;
    list-style-type: none;
    background-color: #3d9be9;
    padding: 10px 16px;
    text-transform: uppercase;
    font-size: 20px;
}


table.blueTable {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid #1C6EA4;
    background-color: #D0E2EE;
    width: 60%;
    height: 300px;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 9px 3px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 0px solid #444444;
  }
  table.blueTable thead th {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }